@if (ViewBag.mensaje != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.mensaje
    </div>
}

<div>
    <h1>Iniciar Sesion</h1>
    <form method="post" class="form-mod d-flex align-items-start flex-column gap-2">
        <label>Ingrese Email</label>
        <input type='text' name="email">
        <label>Ingrese Contrasenia</label>
        <input type='password' name="contrasenia">
        <button class="btn btn-primary" type="submit">Ingresar</button>
    </form>
</div>