<h1>LOGIN</h1>

<form action="/Usuario" class=""> 
<label for=="Email">Ingrese Email</label>
<input type='text'>
<br>
    <label for=="Contrasenia">Ingrese Contrasenia</label>
    <input type='password'>
    <br /> 
    <input type='submit' value="LOGIN"> 
</form>