<div>
    <h1>Iniciar Sesion</h1>
    <form action="/Login/Index" method="post" class="form-mod d-flex align-items-start flex-column gap-2">
        <label>Ingrese Email</label>
        <input type='text' name="Email">
        <label>Ingrese Contrasenia</label>
        <input type='password' name="Contrasenia">
        @* <input type='submit' value="Ingresar"> *@ 
        <button class="btn btn-primary" type="submit">Ingresar</button>
    </form>
</div>