@if (ViewBag.mensaje != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.mensaje
    </div>
}

<div>
    <h1>Registrarse</h1>
    <form method="post" class="form-mod d-flex align-items-start flex-column gap-2">
        <label>Nombre</label>
        <input type='text' name="Nombre">
        <label>Apellido</label>
        <input type='text' name="Apellido">
        <label>Email</label>
        <input type='text' name="Email">
        <label>Contraseña</label>
        <input type='password' name="Contrasenia">
        <label>Repetir contraseña</label>
        <input type='password' name="Contrasenia2" />
        <button class="btn btn-primary" type="submit">Ingresar</button>
    </form>
</div>