<div class="d-flex align-items-center justify-content-center flex-column">
    <h1>Registrarse</h1>
    <form action="/Usuario/Signin" method="post" class="d-flex align-items-center flex-column gap-2">
        <div class="d-flex flex-column">
            <label>Nombre</label>
            <input type='text'>
        </div>
        <div class="d-flex flex-column">
            <label>Apellido</label>
            <input type='text'>
        </div>
        <div class="d-flex flex-column">
            <label>Email</label>
            <input type='text'>
        </div>
        <div class="d-flex flex-column">
            <label>Contrasenia</label>
            <input type='password'>
        </div>
        <input type='submit' value="Registrarse">
    </form>
</div>