@using Dominio.Entidades;

<h1>@ViewBag.Titulo</h1>

<form action="/Publicacion/ListadoPublicacionXNombre">
    <input type="text" name="nombre" placeholder="Nombre" />
    <input type="submit" value="Filtrar"/>
</form>

<a href="/Publicacion" class="">Ver Todo</a>
<a href="/Publicacion/venta" class="link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Ver ventas</a>
<a href="/Publicacion/subasta" class="link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Ver subastas</a>

@foreach (var item in ViewBag.Publicaciones)
{
    <p>@item.Nombre</p>
    <ul>
    @foreach (var item2 in item.Articulos)
    {
        <li>@item2.Nombre</li>
    }
    </ul>
}