<div>
    <h1>Publicacion: @* nombre de la publicacion *@ </h1>
    <p></p> @* Estado de la publicacion *@
    <ul>
        <li></li> @* lista de articulos con sus respectivos precios *@
    </ul>
    <p></p> @* precio total de la publicacion *@
</div>