@{
    var publicacion = ViewBag.Publicacion;
   
}


   
        <h1>Publicación: @publicacion.Nombre</h1>
        <br></br>
        <h2>Lista de Articulos:</h2>

        <ul>
            @foreach (var articulo in publicacion.Articulos)
            {
                <li>@articulo.Nombre - Precio: @articulo.Precio</li>
       
            }
        </ul>


   



<p>precio Total: </p>

