<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApp.styles.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/4ffb78f01e.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark text-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
              
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between text-white">
                    <ul class="navbar-nav flex-grow-1">
                        @if (Context.Session.GetString("email") == null)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Login" asp-action="Index">
                                    <i class="fa-solid fa-right-to-bracket"></i> 
                                    Iniciar Sesión
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Login" asp-action="Signin">
                                    Registrarse
                                </a>
                            </li>
                        }
                        else {
                            @* if (Context.Session.GetString("rol") == "Administrador")
                            { *@
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Usuario" asp-action="Index">
                                        <i class="fa-solid fa-user"></i> 
                                        Usuarios
                                    </a>
                                </li>
                            @* } *@
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Publicacion" asp-action="Index">
                                    <i class="fa-solid fa-box"></i> 
                                    Publicaciones
                                </a>
                            </li>
                            if (Context.Session.GetString("rol") == "Cliente")
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Usuario" asp-action="ConsultarSaldo">
                                        <i class="fa-solid fa-wallet"></i>
                                        Consultar Saldo
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Usuario" asp-action="RecargarSaldo">
                                        <i class="fa-solid fa-dollar-sign"></i> 
                                        Recargar Saldo
                                    </a>
                                </li>
                            }
                            <li class="nav-item">
                                <a class="nav-link text-danger" asp-area="" asp-controller="Login" asp-action="Logout"><i class="fa-solid fa-power-off"></i> Salir</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    @* <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - WebApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer> *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
