<h1>Hola</h1>

<form action="/Usuario/" method="POST">
    <input type="text" name="Nombre" placeholder="Nombre"/>
    <input type="text" name="Apellido" placeholder="Apellido" />
    <input type="text" name="Email" placeholder="Email" />
    <input type="text" name="Contrasenia" placeholder="Contraseña" />
    <input type="submit" name="" value="Agregar" />
</form>