@using Dominio.Entidades;

<h1>ALTA CLIENTES</h1>


@if (ViewBag.mensaje != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.mensaje
    </div>
}

<form action="/Usuario/" method="POST">
    <input type="text" name="Nombre" placeholder="Nombre" />
    <input type="text" name="Apellido" placeholder="Apellido" />
   
    <input type="submit" name="" value="Agregar" />

    <p></p>
</form>