<div>
    <h1>Modificar</h1>
    <form class="form-mod d-flex flex-column align-items-start gap-2">

        

        <label>Nombre</label>
        <input type="text" />
        <label>Apellido</label>
        <input type="text" />
        <label>Email</label>
        <input type="text" />
        <label>Contraseña</label>
        <input type="text" />
        <button class="btn btn-primary" type="submit">Modificar</button>
    </form>
</div>